<div class="search-container">
  <div class="search-container-content">
    <h1>Search for Marvel Characters</h1>
    <app-search (search)="getSearchResults($event)"></app-search>
    <app-search-results *ngIf="searchResults?.length > 0" (clicked)="goToCharacter($event)" [searchResults]="searchResults"></app-search-results>
    <div class="spinner-container" *ngIf="showSpinner">
      <mat-spinner></mat-spinner>
    </div>

    <p *ngIf="showNoResults" class="no-results">No character names matched your search terms, please try again (Ex: Spider)</p>
  </div>
</div>
