/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'Lato', sans-serif;

  .page-container {
    &-content {
      width: 1440px;
      max-width: 100%;
      padding: 15px 10px;
      box-sizing: border-box;
      margin: 0 auto;
    }
  }
}
